@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
#logo{
    width: 20vw;
}
h1{
      color: #faf5f5;
      font-family: "Open Sans", sans-serif;
}
#name{
    color: aqua;
    font-size: 50px;
}
#va{
    color: #00ff40;
    font-size: 50px;
}
#Voice{
    width: 150px;
    display: none;
}
#btn{
    width: 30%;
    background: #630ac9;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;#
    font-size: 20px;
    border-radius: 20px;
    color: #f8f8f8;
    box-shadow: 2px 2px 10px rgb(121, 113, 129),2px,2px,10px rgb(121, 113, 129);
    border: none;
    transition:all 0.5s;
    cursor: pointer;
}
#btn:hover{
    box-shadow: 2px 2px 20px rgb(121, 113, 129),2px,2px,10px rgb(121, 113, 129);
    letter-spacing: 2px;
}